<div class="game-carousel">
  <div class="overflow-hidden relative">
    <ul class="big-thumbnail flex list-none">
      <li
        class="basis-full shrink-0 px-1"
        *ngFor="let image of imageService.getLandscape(product.images)"
      >
        <img
          class="w-full rounded-lg"
          src="{{ image.url }}"
          alt="carousel large item"
        />
      </li>
    </ul>
  </div>
  <ul class="small-previews flex py-5 gap-3 justify-center">
    <li
      class="small-preview-item p-0 rounded-lg w-[100px] relative overflow-hidden after:absolute after:inset-0 after:w-full after:h-full after:bg-black/60"
      *ngFor="let image of imageService.getLandscape(product.images)"
    >
      <img
        *ngIf="image.url"
        class="w-full rounded-lg"
        src="{{ image.url }}"
        alt="carousel small preview"
      />
    </li>
  </ul>
</div>
