<div class="reviews" *ngIf="reviews$ | async as reviews">
  <h1 class="uppercase !text-xl">Reviews</h1>
  <div
    class="review-container bg-[#292929] rounded-md p-2 flex flex-col lg:flex-row gap-6"
  >
    <div
      class="review-summary flex flex-col gap-1 w-full lg:w-2/5"
      *ngIf="classifications"
    >
      <div
        *ngFor="let review of classifications"
        class="flex items-center gap-2"
      >
        <p class="whitespace-nowrap w-[30%]">{{ review.key }} stars</p>
        <mat-progress-bar
          class="rounded-lg !h-[8px]"
          mode="determinate"
          value="{{ review.value }}"
        ></mat-progress-bar>
        <p class="text-white/70 w-1/5 text-center">{{ review.value }}%</p>
      </div>
    </div>
    <div class="review-detail w-full lg:w-3/5 flex flex-col gap-3">
      <div
        *ngFor="let review of reviews"
        class="user-review bg-[#333333] p-2 rounded-md flex gap-5 items-start"
      >
        <img class="w-10 rounded-full" src="{{ review.user.avatar }}" />
        <div class="w-3/5">
          <p>{{ review.user.last_name }} {{ review.user.first_name }}</p>
          <div class="star"></div>
          <p class="text-white/60">{{ review.comment }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
