<div *ngIf="product$ | async as product">
  <h1>{{ product.name }}</h1>
  <div class="flex md:grid gap-11 flex-col items-start grid-cols-3">
    <div class="row-[1/2] col-start-1 col-end-3">
      <div class="game-carousel">
        <div class="overflow-hidden relative">
          <ul class="flex list-none">
            <li
              class="basis-full shrink-0 px-1"
              *ngFor="let image of getLandscape(product.images)"
            >
              <img class="w-full rounded-lg" src="{{ image.url }}" />
            </li>
          </ul>
        </div>
        <ul class="flex py-5 gap-3 justify-center">
          <li
            class="p-0 rounded-lg w-[100px]"
            *ngFor="let image of getLandscape(product.images)"
          >
            <img
              *ngIf="image.url"
              class="w-full rounded-lg"
              src="{{ image.url }}"
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="row-[1/3] col-start-3 col-end-4 w-full">
      <div>
        <div class="logo-container p-5 hidden md:!block">
          <img src="{{ getLogo(product.images).url }}" />
        </div>
        <div class="game-info-breif">
          <p
            class="game-type bg-amber-300 text-black inline-flex rounded-md px-2 py-1"
          >
            {{ camelCase(product.type) }} Game
          </p>
          <p>${{ product.sale_price }}</p>
          <div class="add-to-cart-control flex items-center">
            <mat-form-field appearance="outline" class="w-1/5">
              <mat-label>Choose quantity</mat-label>
              <mat-select>
                <mat-option
                  class="hover:!bg-[#007efc]"
                  *ngFor="let key of product.keys; index as i"
                  [value]="i + 1"
                  >{{ i + 1 }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="uppercase w-full !p-2 !font-semibold !rounded-l-none"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
